<div class="reader-header">
  <div class="reader-breadcrumbs">
    <%= link_to "Library", ebooks_library_path %>
    <span>/</span>
    <span><%= @book.title %></span>
  </div>
  <div class="reader-controls">
    <label for="reader-font-family">Font</label>
    <select 
        id="reader-font-family"
        data-reader-target="fontFamily"
        data-action="change->reader#fontFamilyChanged"
      >
      <option value="Georgia, serif">Georgia</option>
      <option value="'Atkinson Hyperlegible Next', 'Atkinson Hyperlegible', sans-serif">Atkinson</option>
      <option value="'IBM Plex Serif', serif">IBM Plex Serif</option>
      <option value="'Noto Serif', serif">Noto Serif</option>
    </select>
    <select
        id="reader-spread"
        data-reader-target="spread"
        data-action="change->reader#spreadChanged"
      >
      <option value="Single">Single</option>
      <option value="Double">Double</option>
    </select>
    <label for="reader-font-size">Size</label>
    <input 
        id="reader-font-size" 
        type="range" 
        min="14" 
        max="30" 
        step="1" 
        value="18"
        data-reader-target="fontSize"
        data-action="input->reader#fontSizeChanged"
    />
    <output 
        id="reader-font-size-output"
        data-reader-target="fontSizeOutput"
        
        >18px</output>
  </div>
</div>