<div class="reader-shell" 
  data-controller="reader"
  data-reader-book-id-value="<%= @book.id %>"
  data-reader-epub-url-value="<%= @epub_url %>"
  data-reader-progress-url-value="<%= @reading_progress_url %>"
>
  <%= render partial: "reader_controls", locals: { book: @book } %>
  <div class="reader-stage" id="reader-stage" data-reader-target="stage"></div>
  <div class="reader-pagination">
    <button 
      id="reader-prev"
      class="reader-page-link"
      type="button"
      data-reader-target="prevButton"
      data-action="click->reader#prev"
      >
      Previous</button>
    <span id="reader-page-status"
      data-reader-target="pageStatus"
    >Loading book...</span>
    <button 
      id="reader-next"
      class="reader-page-link"
      type="button"
      data-reader-target="nextButton"
      data-action="click->reader#next"
      >
      Next
    </button>
  </div>
</div>
