<div class="primaryContainer">

  <div class="navAreaContainer">
    <%= link_to "EPUB Preview", epub_preview_path %>
  </div>

    <div class="secondaryContainer">
  <h1 id="titlebox">Libre Stack</h1>
  
  <p>change this fgfgh</p>
  </div>
</div>
